header, footer{
 color: white;
 background-color: #312c32;
 margin: 0em 4em 0.5em 4em;
 }

body {
 font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
 font-size: 100%;
 background-color: #98dafc
}

h1{
 font-size: 1.5em;
}

h2{
 font-size: 0.75em;
}

h3{
 font-size: 1.125em;
}

nav{
 font-size: 1.125em;
}

a:visited {
 color: #daad86;
}

a:hover {
 background-color: #FFFFCC;
}

header{
 padding: 0.25em 0;
}

header ul li {
    display: inline;
    margin: 0 0 0 0.5em;
}

img:hover{
color:#98dafc;
}

figure img{
border: black 1px solid;
padding: 0.25em;
margin: auto;
background:white;
position:relative;
top:50%;
left:0%;
margin-right:-50%;
width:auto;
height:auto;
}

#desc {
 background:white;
 padding: 0.25em;
}


